_build/
**/node_modules/*
.env
.envrc
dist/
build/
.cache/
.mypy_cache/
.parcel-cache/
.netlify/

*.bak
*.orig
*PENDING_DELETION*

*~
tags
tags.*
.idea/
.vscode/
.vim/
*.sw[op]

TANK/
web-ext-artifacts/
