# output directories
_build/
_site/
dist/
build/

# developer tools
.git/
node_modules/
__pycache__/
.vim/
.idea/
pg/
pnpm-lock.yaml
bun.lock
.venv/

*.min*

# caches
.astro/
.cache/
.parcel-cache/
.mypy_cache/
.next/
.netlify/
.shopify/
.swc/
.wrangler/

# phoenix
deps/
.elixir_ls
priv/

*.bak
TANK/
